@charset "UTF-8";

main#missions {
  .container-fluid {
    padding: 0;
  }
  hr {
    border-bottom: 2px solid black;

  }

  /*---start banner-----*/
  .background_mission {
    background: url('../../img-content/mission.jpg') center no-repeat;
    background-size: cover;
    height: 600px;
    color: #fff;
  }
  .content_mission {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
  }
  .ancre_mission {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 100px;
    background-color: rgba(80,80,80,0.63);
    padding: 15px;
    padding-bottom: 20px;
    display: none;
  }
  .ancre_mission h2 {
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
  }
  .ancre_mission h2:hover {
    color: rgb(113, 187, 177);


  }

  /*----Fin Banner-----*/
  /*----Debut Strategie-----*/
  /*------strategie et action ------*/
  .strategie_action {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;

  }
  .content_strategie {
    text-align: center;
    box-shadow: 0 0 7px 0 rgba(186,186,186,0.5);
    padding: 25px;

  }

/*----Fin Strategie -----*/
/*-----Debut action -----*/
.content_action {
  text-align: center;
  box-shadow: 0 0 7px 0 rgba(186,186,186,0.5);
  padding: 25px;

}
/*--------Debut objectif -----*/
.content_objectif {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

}
.content_objectif h3 {
  text-align: center;
}
.post_education-paix {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.background_shadow {
  margin-top: 80px;
  box-shadow: inset 0 1px 10px 0 rgba(196,196,196,0.5);

}
.content_education span {
  border-bottom: 2px solid green;

}
.content_paix span {
  border-bottom: 2px solid green;
}
/*------Fin objectif -----*/

/*-------Responsive----------*/
@media screen and (max-width: 1000px) {
  .post_objectif {
    text-align: center;
  }

}
@media screen and (max-width: 800px) {
  .strategie_action {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .ancre_mission {
    display: flex;
  }
  .content_paix {
    margin-top: 50px;
  }
  .ancre_mission h2 {
    font-size: 14px;

  }

}
}
