main#article {

  .container-fluid {
    padding: 0;
  }

  hr {
    border-bottom: 2px solid black;

  }

  .background_article {
    background: url('../../img-layout/oumi.jpg') center no-repeat;
    background-size: cover;
    height: 300px;
    color: #fff;
  }

  .background_article2 {
    background: #F24800;
    height: 25px;
  }

  .content_head_article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
    background: rgba(36,36,36,0.44);
  }

  .content_head_article h1 {
	   font-size: 16px;
	   line-height: 18px;
	   text-align: center;
  }

  .article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 3% auto 0 auto;
  }

  .content_article {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: left;
  }

  .article_date {
    margin: 3% 0;
  }

  .categorie_date {
	   height: 54px;
	   border: 2px solid #E6E6E6;
	   border-radius: 16px;
  }

  .date {
    margin-top: 12px;
  }

  .taille_img img {
    width: 24px;
    display: block;
    margin: 0 auto;
    opacity: .3;
  }

  .article_date p {
    margin-top: 2px;
    font-size: 13px;
    color: #4E4E4E;
  }

  .actu h2 {
	   font-size: 18px;
	   line-height: 21px;
     text-align: center;
  }

  .article_shadow {
	   border-radius: 19px;
	   box-shadow: 0 0 10px 0 rgba(174,174,174,0.5);
  }

  .article_shadow img {
    width: 100%;
    margin-top: 25px;
  }

  .article_shadow h3 {
	   color: #F24800;
	   font-size: 14px;
	   line-height: 17px;
	   text-align: center;
  }

  .taille_img2 img {
    width: 18px;
    display: block;
    margin: 0 auto;
    opacity: .3;
  }

  .margin_article {
    margin-bottom: 20px;
    font-size: 10px;
  }

  .container_article {
    margin: 3% auto;
  }

  @media screen and (max-width: 800px) {
    .categorie_date img {
      width: 18px;
    }
    .date p {
      font-size: 9px;
    }
    .article_shadow {
      margin: 5% 0;
    }
  }

  @media screen and (max-width: 430px) {
    .categorie_date {
      height: 90px;
    }

  }

}
