@charset "UTF-8";
footer {
  .bckg-color {
  background-color: #F2F2F2;

  }
.footer {
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.logo_content {
  display: flex;
  justify-content:center;
  align-items: center;
}
.mention_content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
  padding: 10px;
  margin-left: 40px;

}

.mention_content button {
  padding: 0 20px 0 20px;
  height: 60px;
  border-radius: 17px;
  background-color: #F24800;
  border: none;
  color: #fff;
  transition: 0.7s;
}
.mention_content button:hover {
  color: #F24800;
  background-color: #fff;
}

.actualite_content {
  display: flex;;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;

}
.reseaux_content {
  display: flex;
  justify-content: space-around;

}
.last_actualite h6 {
  font-size: 15px;
}
.all_actualite {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.all_actualite a {
  color: #000;
  transition: 0.5s;
}
.all_actualite a:hover {
text-decoration: underline;

}
.all_actualite p {
  border-right: 1px solid black;
  padding: 20px;
}

@media screen and (max-width: 800px) {
  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .mention_content {
    display: flex;
    flex-direction: column;
  }
  .reseaux_content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}
  .all_actualite {
    display: flex;
    flex-direction: column;

  }
  .all_actualite p {
    border: none;
    border-bottom: 1px solid black;
  }

}
}
