@charset "UTF-8";
main#actualite {
  .container-fluid {
    padding: 0;
  }

  hr {
    border-bottom: 2px solid black;

  }
  .content_article {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: left;
  }

  .article_date {
    margin: 3% 0;
  }

  .categorie_date {
	   height: 54px;
	   border: 2px solid #E6E6E6;
	   border-radius: 16px;
  }

  .date {
    margin-top: 12px;
  }

  .taille_img img {
    width: 24px;
    display: block;
    margin: 0 auto;
    opacity: .3;
  }

  .article_date p {
    margin-top: 2px;
    font-size: 13px;
    color: #4E4E4E;
  }


  .actu h1 {
	   font-size: 18px;
	   line-height: 21px;
       text-align: center;
    margin-bottom: 30PX;

  }

  .article_shadow {
	   border-radius: 19px;
	   box-shadow: 0 0 10px 0 rgba(174,174,174,0.5);
     transition: 0.5s;
     cursor: pointer;
  }
  .article_shadow:hover {
    transform: scale(1.05);
  }


  .article_shadow img {
    width: 100%;
    margin-top: 25px;
  }

  .article_shadow a {
	   color: #F24800;
	   font-size: 12px;
	   line-height: 17px;
	   text-align: center;
  }

  .taille_img2 img {
    width: 18px;
    display: block;
    margin: 0 auto;
    opacity: .3;
  }

  .margin_article {
    margin-bottom: 20px;
    font-size: 10px;
  }

  .container_article {
    margin: 3% auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 800px) {
    .categorie_date img {
      width: 18px;
    }
    .date p {
      font-size: 9px;
    }
    .article_shadow {
      margin: 5% 0;
    }
  }

  @media screen and (max-width: 430px) {
    .categorie_date {
      height: 90px;
    }

  }

}
